---
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Features3 Widget ************** -->

  <Features3
    title="About Us"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Jairo Morales',
        description:
          '<a href="mailto:jairomoralesperez0@gmail.com">jairomoralesperez0@gmail.com',
        icon: 'tabler:user',
      },
      {
        title: 'Stefaan Ghysels',
        description:
          '<a href="mailto:stefaang@gmail.com">stefaang@gmail.com',
        icon: 'tabler:user',
      },
      {
        title: 'Michael Roland',
        description:
          '<a href="mailto:mi.roland@gmail.com">mi.roland@gmail.com',
        icon: 'tabler:user',
      },
    ]}
  />
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
  </Fragment>

</Layout>
