---
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Features3 Widget ************** -->

  <Features3
    title="About Us"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Jairo Morales',
        icon: 'tabler:user',
        description:`
        <div class="flex justify-center">
          <ul class="list-inside inline-block space-y-2">
            <li><a href="mailto:jairomoralesperez0@gmail.com" class="hover:underline hover:text-blue-800 transition">jairomoralesperez0@gmail.com</a></li>
            <li><a href="https://github.com/icky17" class="hover:underline hover:text-blue-800 transition">icky17</a></li>
          </ul>
        </div>
        `
      },
      {
        title: 'Stefaan Ghysels',
        icon: 'tabler:user',
        description:`
        <div class="flex justify-center">
          <ul class="list-inside inline-block space-y-2">
            <li><a href="mailto:stefaang@gmail.com" class="hover:underline hover:text-blue-800 transition">stefaang@gmail.com</a></li>
            <li><a href="https://github.com/stefaang" class="hover:underline hover:text-blue-800 transition">steefang</a></li>
          </ul>
        </div>
        `
      },
      {
        title: 'Michael Roland',
        icon: 'tabler:user',
        description:`
        <div class="flex justify-center">
          <ul class="list-inside inline-block space-y-2">
            <li><a href="mailto:mi.roland@gmail.com" class="hover:underline hover:text-blue-800 transition">mi.roland@gmail.com</a></li>
            <li><a href="https://github.com/michaelroland" class="hover:underline hover:text-blue-800 transition">michaelroland</a></li>
          </ul>
        </div>
        `
      },
    ]}
  />
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
  </Fragment>

</Layout>
