
<div class="initials-logo self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap">
  <span class="initial" style="color: #FD1859;">W</span>
  <span class="initial" style="color: #995CFF;">D</span>
  <span class="initial" style="color: #5CA7FA;">C</span>
</div>